<section>
    <div class="container mt-5">
        <div class="row text-center">
            {{#each product }}
            <div class="col-md-3">
                <div class="card p-2 " style="">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">fgsfdgg</h5>
                        <p class="card-text">hdfgfgfgfgsdasdgasdggs</p>                     
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
             </div>
         {{/each}}
        </div>
    </div>
</section>
