<section>
  <div class="row mt-5">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>Orduer Placed Successfull</h1>
            <a href="/orders" class="btn btn-primary">View Orduers</a>
        </div>
    </div>
  </div>
</section>